/***********************
 David Canle Roza - UO258403
Descripción de los estilos
************************/
/* specificity = 001*/
h1 {
    font-size: 2em;
    text-align: center;
}

/* specificity = 001*/
h2 {
    font-size: 1.5em;
}

/* specificity = 001*/
p {
    font-size: 1em;
    text-align: justify;
}

/* specificity = 001*/
body {
    background-color: darkgreen;
    color:black;
}

/* specificity = 005*/
header,
main,
section,
nav,
footer {
    background-color: lightgreen;
    color: black;
    font-size: 1.5em;
}
/* specificity = 001*/
nav{
    display: flex;
    flex-direction: column;
    gap : 1em;
}

table{
    font-size: 1.5em;
}

