/***********************
 David Canle Roza - UO258403
Descripción del layout
************************/
/* specificity = 001*/
nav {
    grid-area: nav;
}
/* specificity = 001*/
header {
    grid-area: header;
}
/* specificity = 001*/
main {
    grid-area: main;
}

/* specificity = 001*/
section {
    grid-area: right;
}
/* specificity = 001*/
footer {
    grid-area: footer;
}

/* specificity = 001*/
body {
    display: grid;
    grid-template-areas:
        'nav header header header header header header header'
        'nav main main main main right right right'
        'nav main main main main right right right'
        'nav footer footer footer footer footer footer footer';
    gap: 1em;  
    padding: 1em;
}
/* specificity = 002*/
video,img {
    width: 100%;
    height: auto;
}
/* specificity = 001*/
audio{
    width: 100%;
}
/* specificity = 005*/
header,
main,
section,
nav,
footer {
    
    padding: 1.5em 1.5em;
   
}